services:
  db:
    image: postgres:14-alpine
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

  app:
    build:
      context: .
      target: development_build
    hostname: app
    stdin_open: true
    volumes:
      - .:/app
      - ./static:/app/static
    env_file:
      - ./.env
    depends_on:
      - db
    command: sh -c "python manage.py runserver 0.0.0.0:8000 && python manage.py collectstatic --no-input"
    ports:
     - "8000:8000"

  # nginx:
  #   image: nginx:latest
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/nginx.conf
  #   ports:
  #     - "80:80"
  #   depends_on:
  #     - app  
  
volumes:
  pgdata: