amqp==5.3.1 ; python_full_version == "3.12.3"
annotated-types==0.7.0 ; python_full_version == "3.12.3"
anyio==4.11.0 ; python_full_version == "3.12.3"
asgiref==3.10.0 ; python_full_version == "3.12.3"
beautifulsoup4==4.14.2 ; python_full_version == "3.12.3"
betterjsonstorage==1.3.2 ; python_full_version == "3.12.3"
billiard==4.2.2 ; python_full_version == "3.12.3"
blosc2==3.11.0 ; python_full_version == "3.12.3"
celery==5.5.3 ; python_full_version == "3.12.3"
certifi==2025.10.5 ; python_full_version == "3.12.3"
charset-normalizer==3.4.4 ; python_full_version == "3.12.3"
click-didyoumean==0.3.1 ; python_full_version == "3.12.3"
click-plugins==1.1.1.2 ; python_full_version == "3.12.3"
click-repl==0.3.0 ; python_full_version == "3.12.3"
click==8.1.8 ; python_full_version == "3.12.3"
colorama==0.4.6 ; python_full_version == "3.12.3" and platform_system == "Windows"
comtypes==1.4.13 ; python_full_version == "3.12.3" and platform_system == "Windows"
deep-translator==1.11.4 ; python_full_version == "3.12.3"
distro==1.9.0 ; python_full_version == "3.12.3"
dj-database-url==3.0.1 ; python_full_version == "3.12.3"
django-admin-rangefilter==0.11.2 ; python_full_version == "3.12.3"
django-ckeditor==6.7.3 ; python_full_version == "3.12.3"
django-daterange-filter==1.3.0 ; python_full_version == "3.12.3"
django-dotenv==1.4.2 ; python_full_version == "3.12.3"
django-js-asset==3.1.2 ; python_full_version == "3.12.3"
django==5.0.6 ; python_full_version == "3.12.3"
djangorestframework==3.16.1 ; python_full_version == "3.12.3"
elevenlabs==1.59.0 ; python_full_version == "3.12.3"
flower==1.2.0 ; python_full_version == "3.12.3"
gtts==2.5.4 ; python_full_version == "3.12.3"
gunicorn==22.0.0 ; python_full_version == "3.12.3"
h11==0.16.0 ; python_full_version == "3.12.3"
httpcore==1.0.9 ; python_full_version == "3.12.3"
httpx==0.27.2 ; python_full_version == "3.12.3"
humanize==4.14.0 ; python_full_version == "3.12.3"
idna==3.11 ; python_full_version == "3.12.3"
jiter==0.11.1 ; python_full_version == "3.12.3"
kombu==5.5.4 ; python_full_version == "3.12.3"
langdetect==1.0.9 ; python_full_version == "3.12.3"
msgpack==1.1.2 ; python_full_version == "3.12.3"
mypy-extensions==1.1.0 ; python_full_version == "3.12.3"
mypy==1.18.2 ; python_full_version == "3.12.3"
ndindex==1.10.0 ; python_full_version == "3.12.3"
numexpr==2.14.1 ; python_full_version == "3.12.3" and platform_machine != "wasm32"
numpy==2.3.4 ; python_full_version == "3.12.3"
openai==2.6.1 ; python_full_version == "3.12.3"
orjson==3.11.4 ; python_full_version == "3.12.3"
packaging==25.0 ; python_full_version == "3.12.3"
pathspec==0.12.1 ; python_full_version == "3.12.3"
platformdirs==4.5.0 ; python_full_version == "3.12.3"
prometheus-client==0.23.1 ; python_full_version == "3.12.3"
prompt-toolkit==3.0.52 ; python_full_version == "3.12.3"
psycopg2-binary==2.9.11 ; python_full_version == "3.12.3"
py-cpuinfo==9.0.0 ; python_full_version == "3.12.3" and platform_machine != "wasm32"
pydantic-core==2.41.4 ; python_full_version == "3.12.3"
pydantic==2.12.3 ; python_full_version == "3.12.3"
pyobjc-core==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-accessibility==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-accounts==12.0 ; platform_system == "Darwin" and platform_release >= "12.0" and python_full_version == "3.12.3"
pyobjc-framework-addressbook==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-adservices==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-adsupport==12.0 ; platform_system == "Darwin" and platform_release >= "18.0" and python_full_version == "3.12.3"
pyobjc-framework-applescriptkit==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-applescriptobjc==12.0 ; platform_system == "Darwin" and platform_release >= "10.0" and python_full_version == "3.12.3"
pyobjc-framework-applicationservices==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-apptrackingtransparency==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-arkit==12.0 ; platform_system == "Darwin" and platform_release >= "25.0" and python_full_version == "3.12.3"
pyobjc-framework-audiovideobridging==12.0 ; platform_system == "Darwin" and platform_release >= "12.0" and python_full_version == "3.12.3"
pyobjc-framework-authenticationservices==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-automaticassessmentconfiguration==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-automator==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-avfoundation==12.0 ; platform_system == "Darwin" and platform_release >= "11.0" and python_full_version == "3.12.3"
pyobjc-framework-avkit==12.0 ; platform_system == "Darwin" and platform_release >= "13.0" and python_full_version == "3.12.3"
pyobjc-framework-avrouting==12.0 ; platform_system == "Darwin" and platform_release >= "22.0" and python_full_version == "3.12.3"
pyobjc-framework-backgroundassets==12.0 ; platform_system == "Darwin" and platform_release >= "22.0" and python_full_version == "3.12.3"
pyobjc-framework-browserenginekit==12.0 ; platform_system == "Darwin" and platform_release >= "23.4" and python_full_version == "3.12.3"
pyobjc-framework-businesschat==12.0 ; platform_system == "Darwin" and platform_release >= "18.0" and python_full_version == "3.12.3"
pyobjc-framework-calendarstore==12.0 ; platform_system == "Darwin" and platform_release >= "9.0" and python_full_version == "3.12.3"
pyobjc-framework-callkit==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-carbon==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-cfnetwork==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-cinematic==12.0 ; platform_system == "Darwin" and platform_release >= "23.0" and python_full_version == "3.12.3"
pyobjc-framework-classkit==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-cloudkit==12.0 ; platform_system == "Darwin" and platform_release >= "14.0" and python_full_version == "3.12.3"
pyobjc-framework-cocoa==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-collaboration==12.0 ; platform_system == "Darwin" and platform_release >= "9.0" and python_full_version == "3.12.3"
pyobjc-framework-colorsync==12.0 ; platform_system == "Darwin" and platform_release >= "17.0" and python_full_version == "3.12.3"
pyobjc-framework-compositorservices==12.0 ; platform_system == "Darwin" and platform_release >= "25.0" and python_full_version == "3.12.3"
pyobjc-framework-contacts==12.0 ; platform_system == "Darwin" and platform_release >= "15.0" and python_full_version == "3.12.3"
pyobjc-framework-contactsui==12.0 ; platform_system == "Darwin" and platform_release >= "15.0" and python_full_version == "3.12.3"
pyobjc-framework-coreaudio==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-coreaudiokit==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-corebluetooth==12.0 ; platform_system == "Darwin" and platform_release >= "14.0" and python_full_version == "3.12.3"
pyobjc-framework-coredata==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-corehaptics==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-corelocation==12.0 ; platform_system == "Darwin" and platform_release >= "10.0" and python_full_version == "3.12.3"
pyobjc-framework-coremedia==12.0 ; platform_system == "Darwin" and platform_release >= "11.0" and python_full_version == "3.12.3"
pyobjc-framework-coremediaio==12.0 ; platform_system == "Darwin" and platform_release >= "11.0" and python_full_version == "3.12.3"
pyobjc-framework-coremidi==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-coreml==12.0 ; platform_system == "Darwin" and platform_release >= "17.0" and python_full_version == "3.12.3"
pyobjc-framework-coremotion==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-coreservices==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-corespotlight==12.0 ; platform_system == "Darwin" and platform_release >= "17.0" and python_full_version == "3.12.3"
pyobjc-framework-coretext==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-corewlan==12.0 ; platform_system == "Darwin" and platform_release >= "10.0" and python_full_version == "3.12.3"
pyobjc-framework-cryptotokenkit==12.0 ; platform_system == "Darwin" and platform_release >= "14.0" and python_full_version == "3.12.3"
pyobjc-framework-datadetection==12.0 ; platform_system == "Darwin" and platform_release >= "21.0" and python_full_version == "3.12.3"
pyobjc-framework-devicecheck==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-devicediscoveryextension==12.0 ; platform_system == "Darwin" and platform_release >= "24.0" and python_full_version == "3.12.3"
pyobjc-framework-dictionaryservices==12.0 ; platform_system == "Darwin" and platform_release >= "9.0" and python_full_version == "3.12.3"
pyobjc-framework-discrecording==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-discrecordingui==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-diskarbitration==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-dvdplayback==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-eventkit==12.0 ; platform_system == "Darwin" and platform_release >= "12.0" and python_full_version == "3.12.3"
pyobjc-framework-exceptionhandling==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-executionpolicy==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-extensionkit==12.0 ; platform_system == "Darwin" and platform_release >= "22.0" and python_full_version == "3.12.3"
pyobjc-framework-externalaccessory==12.0 ; platform_system == "Darwin" and platform_release >= "17.0" and python_full_version == "3.12.3"
pyobjc-framework-fileprovider==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-fileproviderui==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-findersync==12.0 ; platform_system == "Darwin" and platform_release >= "14.0" and python_full_version == "3.12.3"
pyobjc-framework-fsevents==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-fskit==12.0 ; platform_system == "Darwin" and platform_release >= "24.4" and python_full_version == "3.12.3"
pyobjc-framework-gamecenter==12.0 ; platform_system == "Darwin" and platform_release >= "12.0" and python_full_version == "3.12.3"
pyobjc-framework-gamecontroller==12.0 ; platform_system == "Darwin" and platform_release >= "13.0" and python_full_version == "3.12.3"
pyobjc-framework-gamekit==12.0 ; platform_system == "Darwin" and platform_release >= "12.0" and python_full_version == "3.12.3"
pyobjc-framework-gameplaykit==12.0 ; platform_system == "Darwin" and platform_release >= "15.0" and python_full_version == "3.12.3"
pyobjc-framework-gamesave==12.0 ; platform_system == "Darwin" and platform_release >= "25.0" and python_full_version == "3.12.3"
pyobjc-framework-healthkit==12.0 ; platform_system == "Darwin" and platform_release >= "22.0" and python_full_version == "3.12.3"
pyobjc-framework-imagecapturecore==12.0 ; platform_system == "Darwin" and platform_release >= "10.0" and python_full_version == "3.12.3"
pyobjc-framework-inputmethodkit==12.0 ; platform_system == "Darwin" and platform_release >= "9.0" and python_full_version == "3.12.3"
pyobjc-framework-installerplugins==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-instantmessage==12.0 ; platform_system == "Darwin" and platform_release >= "9.0" and python_full_version == "3.12.3"
pyobjc-framework-intents==12.0 ; platform_system == "Darwin" and platform_release >= "16.0" and python_full_version == "3.12.3"
pyobjc-framework-intentsui==12.0 ; platform_system == "Darwin" and platform_release >= "21.0" and python_full_version == "3.12.3"
pyobjc-framework-iobluetooth==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-iobluetoothui==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-iosurface==12.0 ; platform_system == "Darwin" and platform_release >= "10.0" and python_full_version == "3.12.3"
pyobjc-framework-ituneslibrary==12.0 ; platform_system == "Darwin" and platform_release >= "10.0" and python_full_version == "3.12.3"
pyobjc-framework-kernelmanagement==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-latentsemanticmapping==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-launchservices==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-libdispatch==12.0 ; platform_system == "Darwin" and platform_release >= "12.0" and python_full_version == "3.12.3"
pyobjc-framework-libxpc==12.0 ; platform_system == "Darwin" and platform_release >= "12.0" and python_full_version == "3.12.3"
pyobjc-framework-linkpresentation==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-localauthentication==12.0 ; platform_system == "Darwin" and platform_release >= "14.0" and python_full_version == "3.12.3"
pyobjc-framework-localauthenticationembeddedui==12.0 ; platform_system == "Darwin" and platform_release >= "21.0" and python_full_version == "3.12.3"
pyobjc-framework-mailkit==12.0 ; platform_system == "Darwin" and platform_release >= "21.0" and python_full_version == "3.12.3"
pyobjc-framework-mapkit==12.0 ; platform_system == "Darwin" and platform_release >= "13.0" and python_full_version == "3.12.3"
pyobjc-framework-mediaaccessibility==12.0 ; platform_system == "Darwin" and platform_release >= "13.0" and python_full_version == "3.12.3"
pyobjc-framework-mediaextension==12.0 ; platform_system == "Darwin" and platform_release >= "24.0" and python_full_version == "3.12.3"
pyobjc-framework-medialibrary==12.0 ; platform_system == "Darwin" and platform_release >= "13.0" and python_full_version == "3.12.3"
pyobjc-framework-mediaplayer==12.0 ; platform_system == "Darwin" and platform_release >= "16.0" and python_full_version == "3.12.3"
pyobjc-framework-mediatoolbox==12.0 ; platform_system == "Darwin" and platform_release >= "13.0" and python_full_version == "3.12.3"
pyobjc-framework-metal==12.0 ; platform_system == "Darwin" and platform_release >= "15.0" and python_full_version == "3.12.3"
pyobjc-framework-metalfx==12.0 ; platform_system == "Darwin" and platform_release >= "22.0" and python_full_version == "3.12.3"
pyobjc-framework-metalkit==12.0 ; platform_system == "Darwin" and platform_release >= "15.0" and python_full_version == "3.12.3"
pyobjc-framework-metalperformanceshaders==12.0 ; platform_system == "Darwin" and platform_release >= "17.0" and python_full_version == "3.12.3"
pyobjc-framework-metalperformanceshadersgraph==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-metrickit==12.0 ; platform_system == "Darwin" and platform_release >= "21.0" and python_full_version == "3.12.3"
pyobjc-framework-mlcompute==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-modelio==12.0 ; platform_system == "Darwin" and platform_release >= "15.0" and python_full_version == "3.12.3"
pyobjc-framework-multipeerconnectivity==12.0 ; platform_system == "Darwin" and platform_release >= "14.0" and python_full_version == "3.12.3"
pyobjc-framework-naturallanguage==12.0 ; platform_system == "Darwin" and platform_release >= "18.0" and python_full_version == "3.12.3"
pyobjc-framework-netfs==12.0 ; platform_system == "Darwin" and platform_release >= "10.0" and python_full_version == "3.12.3"
pyobjc-framework-network==12.0 ; platform_system == "Darwin" and platform_release >= "18.0" and python_full_version == "3.12.3"
pyobjc-framework-networkextension==12.0 ; platform_system == "Darwin" and platform_release >= "15.0" and python_full_version == "3.12.3"
pyobjc-framework-notificationcenter==12.0 ; platform_system == "Darwin" and platform_release >= "14.0" and python_full_version == "3.12.3"
pyobjc-framework-opendirectory==12.0 ; platform_system == "Darwin" and platform_release >= "10.0" and python_full_version == "3.12.3"
pyobjc-framework-osakit==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-oslog==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-passkit==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-pencilkit==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-phase==12.0 ; platform_system == "Darwin" and platform_release >= "21.0" and python_full_version == "3.12.3"
pyobjc-framework-photos==12.0 ; platform_system == "Darwin" and platform_release >= "15.0" and python_full_version == "3.12.3"
pyobjc-framework-photosui==12.0 ; platform_system == "Darwin" and platform_release >= "15.0" and python_full_version == "3.12.3"
pyobjc-framework-preferencepanes==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-pubsub==12.0 ; platform_release >= "9.0" and platform_release < "18.0" and platform_system == "Darwin" and python_full_version == "3.12.3"
pyobjc-framework-pushkit==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-quartz==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-quicklookthumbnailing==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-replaykit==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-safariservices==12.0 ; platform_system == "Darwin" and platform_release >= "16.0" and python_full_version == "3.12.3"
pyobjc-framework-safetykit==12.0 ; platform_system == "Darwin" and platform_release >= "22.0" and python_full_version == "3.12.3"
pyobjc-framework-scenekit==12.0 ; platform_system == "Darwin" and platform_release >= "11.0" and python_full_version == "3.12.3"
pyobjc-framework-screencapturekit==12.0 ; platform_system == "Darwin" and platform_release >= "21.4" and python_full_version == "3.12.3"
pyobjc-framework-screensaver==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-screentime==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-scriptingbridge==12.0 ; platform_system == "Darwin" and platform_release >= "9.0" and python_full_version == "3.12.3"
pyobjc-framework-searchkit==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-security==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-securityfoundation==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-securityinterface==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-securityui==12.0 ; platform_system == "Darwin" and platform_release >= "24.4" and python_full_version == "3.12.3"
pyobjc-framework-sensitivecontentanalysis==12.0 ; platform_system == "Darwin" and platform_release >= "23.0" and python_full_version == "3.12.3"
pyobjc-framework-servicemanagement==12.0 ; platform_system == "Darwin" and platform_release >= "10.0" and python_full_version == "3.12.3"
pyobjc-framework-sharedwithyou==12.0 ; platform_system == "Darwin" and platform_release >= "22.0" and python_full_version == "3.12.3"
pyobjc-framework-sharedwithyoucore==12.0 ; platform_system == "Darwin" and platform_release >= "22.0" and python_full_version == "3.12.3"
pyobjc-framework-shazamkit==12.0 ; platform_system == "Darwin" and platform_release >= "21.0" and python_full_version == "3.12.3"
pyobjc-framework-social==12.0 ; platform_system == "Darwin" and platform_release >= "12.0" and python_full_version == "3.12.3"
pyobjc-framework-soundanalysis==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-speech==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-spritekit==12.0 ; platform_system == "Darwin" and platform_release >= "13.0" and python_full_version == "3.12.3"
pyobjc-framework-storekit==12.0 ; platform_system == "Darwin" and platform_release >= "11.0" and python_full_version == "3.12.3"
pyobjc-framework-symbols==12.0 ; platform_system == "Darwin" and platform_release >= "23.0" and python_full_version == "3.12.3"
pyobjc-framework-syncservices==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-systemconfiguration==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc-framework-systemextensions==12.0 ; platform_system == "Darwin" and platform_release >= "19.0" and python_full_version == "3.12.3"
pyobjc-framework-threadnetwork==12.0 ; platform_system == "Darwin" and platform_release >= "22.0" and python_full_version == "3.12.3"
pyobjc-framework-uniformtypeidentifiers==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-usernotifications==12.0 ; platform_system == "Darwin" and platform_release >= "18.0" and python_full_version == "3.12.3"
pyobjc-framework-usernotificationsui==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-videosubscriberaccount==12.0 ; platform_system == "Darwin" and platform_release >= "18.0" and python_full_version == "3.12.3"
pyobjc-framework-videotoolbox==12.0 ; platform_system == "Darwin" and platform_release >= "12.0" and python_full_version == "3.12.3"
pyobjc-framework-virtualization==12.0 ; platform_system == "Darwin" and platform_release >= "20.0" and python_full_version == "3.12.3"
pyobjc-framework-vision==12.0 ; platform_system == "Darwin" and platform_release >= "17.0" and python_full_version == "3.12.3"
pyobjc-framework-webkit==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pyobjc==12.0 ; python_full_version == "3.12.3" and platform_system == "Darwin"
pypiwin32==223 ; python_full_version == "3.12.3" and platform_system == "Windows"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.3"
python-dotenv==1.2.1 ; python_full_version == "3.12.3"
pyttsx3==2.99 ; python_full_version == "3.12.3"
pytz==2025.2 ; python_full_version == "3.12.3"
pywin32==311 ; python_full_version == "3.12.3" and platform_system == "Windows"
requests==2.32.5 ; python_full_version == "3.12.3"
setuptools==80.9.0 ; python_full_version == "3.12.3"
six==1.17.0 ; python_full_version == "3.12.3"
sniffio==1.3.1 ; python_full_version == "3.12.3"
soupsieve==2.8 ; python_full_version == "3.12.3"
sqlparse==0.5.3 ; python_full_version == "3.12.3"
thefuzz==0.19.0 ; python_full_version == "3.12.3"
tika==2.6.0 ; python_full_version == "3.12.3"
tinydb==4.8.2 ; python_full_version == "3.12.3"
tornado==6.5.2 ; python_full_version == "3.12.3"
tqdm==4.67.1 ; python_full_version == "3.12.3"
typing-extensions==4.15.0 ; python_full_version == "3.12.3"
typing-inspection==0.4.2 ; python_full_version == "3.12.3"
tzdata==2025.2 ; python_full_version == "3.12.3"
unidecode==1.4.0 ; python_full_version == "3.12.3"
urllib3==2.5.0 ; python_full_version == "3.12.3"
vine==5.1.0 ; python_full_version == "3.12.3"
wcwidth==0.2.14 ; python_full_version == "3.12.3"
websockets==15.0.1 ; python_full_version == "3.12.3"
whitenoise==6.11.0 ; python_full_version == "3.12.3"
